#tablero{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url("../../img/Background.jpg");
}

#zonaIzquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
